<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required by androidx.test InstrumentationActivityInvoker on Android 12+ (API 31+).
         Without this, the test runner fails with:
         "Permission Denial: not allowed to send broadcast
          androidx.test.core.app.InstrumentationActivityInvoker.FINISH_BOOTSTRAP_ACTIVITY" -->
    <queries>
        <package android:name="androidx.test.core.app.InstrumentationActivityInvoker" />
    </queries>

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
            android:exported="true" />
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:exported="true" />
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
            android:exported="true" />
    </application>

</manifest>
